@import "tailwindcss";
html {
    text-align: center;
    color: white;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #131111;
    background-image: radial-gradient(circle, rgba(249, 6, 39, 0.2) 2px, transparent 2px);
    background-size: 30px 30px;
    color: white;
    font-family: "BHH", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "BHH";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/BBHSansBartle-Regular.ttf") format("truetype");
}
